<li>
  <%= link_to park.name, park %>
  <% if logged_in? && current_user.admin? %>
    | <%= link_to "delete", park, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>