<% provide(:title, 'All parks') %>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <ul class="parks"> 
        <%= render @parks %>
      </ul>
    </div>
    <div class="col-md-8 col-sm-12">
      Div for map
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if Image.any? %>
        <ol class="image-stream">
          <%= render @images %>
        </ol>
        <%= will_paginate @images %>
      <% end %>
    </div>
  </div>
</div>