<% provide(:title, 'All parks') %>
  
<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-4">   
      <h1>All parks</h1>
      
      <%= will_paginate %>
      
      <ul class="parks"> 
        <%= render @parks %>
      </ul>
      
      <%= will_paginate %>
    </div>
    <div class="col-md-8">
      <h1>Images and Reviews</h1>
    </div>
  </div>
</div>