<% provide(:title, @park.name) %>
<div class="container">
  <div class="row"> 
    <div class="col-md-4">
      <section class="park_info">
        <h1>
          <%= @park.name %>
        </h1>  
        <h2>
          <%= @park.state %>
        </h2>
      </section> 
      <section class="image_form">
        <%= render 'shared/image_form' %>
      </section>
    </div>
  </div>   
</div>