<% provide(:title, @park.name) %>
<div class="container">
  <section class="park_info">
    <h1>
      <%= @park.name %>
    </h1>  
    <h2>
      <%= @park.state %>
    </h2>
  </section>    
</div>